@page "/"
@rendermode InteractiveServer
@using BlazorImageViewer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ImageViewer
    ImageUrl="/img/bingwallpaper2.jpg"
    Style="width:800px; height:600px; border: 1px solid gray; background-color:#00000060;" />